<ion-header>
  <ion-toolbar>
    <ion-title text-center>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <form>
      <ion-row>
        <ion-col>
          <div padding>
            <ion-item>
              <ion-input type="text" placeholder="Usuario"></ion-input>
            </ion-item>
            <br>
            <ion-item>
              <ion-input type="email" placeholder="your@email.com"></ion-input>
            </ion-item>
            <br>
            <ion-item>
              <ion-input type="password" placeholder="Enter your password"></ion-input>
            </ion-item>
            <br>
            <ion-item>
              <ion-input type="email" placeholder="Repeat you password"></ion-input>
            </ion-item>
          </div>
          <div padding>
            <ion-button size="large" expand="block">Entrar</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>
</ion-content>